@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: linear-gradient( hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif ;
    font-size: 12px;
}

.card{
    width: 60%;
    height: 68%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-bottom: 140px;

    margin-left: 280px;
    border: none;
    border-radius: 20px;
}

.card .left{
    width: 50%;
    background-image: url("./images/bg-pattern-desktop.svg");
    background-size: 690px;
    background-repeat: no-repeat;
    background-position: left -315px top -200px;
}

.card .left #one{
    height: 300px;
    margin-top: 40px;
    margin-left: -50px;
    overflow: hidden;
}

.card .left #two{
    position: relative;
    top: -30px;
    margin-left: -430px;
    height: 170px;
    z-index: 10;
}




.card .right{
    margin-top: 50px;
    width: 45%;
}

.info{
    border-bottom: 1px solid hsl(240, 5%, 91%);
    width: 90%;
    padding: 4px 0 4px 0;
}

.info .title{
}

 .title a{
    cursor: pointer;
}

.title a:hover{
    color: hsl(14, 88%, 65%)
}

#uno{
    margin-left: 80px;
}

#dos{
    margin-left: 80px;
}

#tres{
    margin-left: 132px;
}

#quatro{
    margin-left: 131px;
}

#cinco{
    margin-left: 100px;
}

#sub, #sub1, #sub2, #sub3, #sub4{
    display: none;
    color: hsl(240, 6%, 50%);
}

